body{
    margin: 0;
}

header{
    background-color: #333;
    overflow: hidden;
    padding: 10px;
}

header li{
    display: inline-block;
    float: right;
    font-size: 18px;
    padding: 20px 20px 10px 10px;
}

header li a{
    color: #fff;
    text-decoration: none;
}

header img{
    float: left;
    height: 70px;
    padding: 0 20px;
}

main {
    margin: 10px;
}

h3 {
    color: #333;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.round-table {
    position:relative;
    bottom: 20px;
    margin: 100px;
    left: 100px;
    width: 350px;
    height: 350px;
    border: #000000 solid 1px;
    border-radius: 200px;
}

.wolf-attack {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: rgb(218, 33, 33);
    border: #ffffff solid 1px;
    z-index: 3;
    display: inline-block;
}

.guard {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: rgb(53, 53, 219);
    border: #ffffff solid 1px;
    z-index: 3;
    display: inline-block;
}

.attack-guard-icon {
    position: relative;
    top: 40px;
}

.seat-count {
    position: relative;
    top: 20px;
}

.seat-icon {
    margin: 2px;
    width: 13px;
    height: 13px;
    border: black 4px solid;
    display: inline-block;
}

.seat-icon-GM {
    margin: 2px;
    width: 13px;
    height: 13px;
    border: #ba55d3 4px solid;
    display: inline-block;
}

.name-box {
    text-align: center;
    margin: 2px;
    padding: 10px;
    width: 150px;
    height: 20px;
    color: #FFFFFF;
    border: #000000 solid 1px;
    display: inline-block;
    z-index: 2;
}

.name-box-werewolf-team {
    background-color: #a42e2e;
}

.name-box-citizen-team {
    background-color: #2ea43e;
}

.name-box-thaad-team {
    background-color: #a4982e;
}

.name-input {
    display: inline-block;
    width: 140px;
}

.howtouse img{
    height: 50%;
    width: 50%;
    border: 1px #000 solid;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: rgb(218, 189, 27);
}